/* === Main Blog Layout === */
.blog {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding: 1rem;
}

.blog__main {
  /* Left column */
}

/* === Blog Filter Section === */
.blog__filter {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog__filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

.blog__filter-item {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: var(--color-primary);
  color: var(--color-btn-text);
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

.blog__filter-item:hover,
.blog__filter-item.active {
  background-color: var(--color-primary-dark);
}

/* === Blog Grid === */

.blog_page__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 66%));
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

.blog_page__list .blog-card__content {
  flex-direction: column;
  justify-content: normal;
  height: auto;
  gap: 0.5rem;
}

.blog__no-post {
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-text-secondary);
  margin-top: 2rem;
}

/* === Sidebar Section === */
.blog__sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog__sidebar-heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.blog__trending,
.blog__editor-choice {
  background-color: var(--color-background-light);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--shadow-sm);
}
